.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  border-color: transparent;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu:active {
  cursor: context-menu;
}

.headline {
  background-image: url('./img/header-background-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-size: 28px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}
