.container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  background-color: #f7f7f9;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  margin-right: 6%;
}

.hamburger-menu {
  border-color: transparent;
  background: none;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu:active {
  cursor: context-menu;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('./img/header-background-mobile.png');
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-size: 100%;
  margin: 10px 0;
  padding: 95px 20px 0;
  margin-right: -10px;
  background-color: #fff;
  border-radius: 0 0 0 90px;
  height: 67%;
}

h1 {
  width: 90%;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: -1%;
}

.lets-connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.headline-text,
.left-block {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 25%;
}

.social-icons,
.portfolio-tags {
  display: flex;
  gap: 5%;
  list-style: none;
  padding: 0;
}

.works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  padding-left: 3%;
  margin: 15% 0;
  grid-gap: 3%;
}

.categories {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.project-title {
  display: flex;
  width: 100%;
  height: 23%;
  font-weight: 700;
  font-size: 32px;
}

.canopy,
.canopy > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.canopy > ul {
  gap: 10px;
  color: #7a869a;
  list-style: none;
  padding-left: 10;
}

.portfolio-tags {
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.portfolio-tags > li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.project-links {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-content: left;
  padding: 12px;
  margin: 7% 0;
  text-decoration: none;
  width: fit-content;
}

.project-links:hover {
  background-color: #7f8cff;
}

.project-links:active {
  background-color: blue;
}

.about-myself {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  position: relative;
  margin-top: 70%;
  padding-top: 28%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
  border-radius: 0 90px 0 0;
}

.about-myself > h1 {
  width: 90;
  height: 19%;
}

.about-myself > p {
  font-weight: 400;
  font-size: 16px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.skills-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 9% 0 10;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  height: fit-content;
}

.language-icons {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px;
  gap: 12px;
}

.language-icons > li {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 12px;
  padding: 10 10 3;
}

.language-icons > li > img {
  width: 48px;
  height: 48px;
}

.border-lines {
  border-bottom: 0.5px solid #7a869a;
}

.contact-page {
  display: flex;
  flex-direction: column;
  background-image: url('./img/contact--mobile.png');
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-color: #6070ff;
  background-repeat: no-repeat;
  border-radius: 65px 0 0 0;
}

.contactme {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: -1%;
  text-align: center;
  color: #fff;
}

.contact-page > p {
  width: 327px;
  height: 102px;
  margin: 10 10 10 20;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.formsection {
  padding: 25% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name,
#mail,
#msg {
  height: 48px;
  width: 300px;
  margin-bottom: 25px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#msg {
  height: 170px;
}

#msg:hover,
#name:hover,
#mail:hover {
  border: 3px solid green;
}

#get-intouch {
  width: 135px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: 1px solid white;
  border-radius: 6px;
}

#get-intouch:hover {
  border: 3px solid blue;
}

#get-intouch:active {
  color: green;
}

@media (min-width: 600px) {
  .headline {
    display: flex;
    flex-direction: column;
    background-image: url('./img/header-bg.png');
    padding: 15% 18% 0 16%;
    height: 82%;
  }

  h1 {
    font-size: 48px;
  }

  .headline-text {
    height: 7%;
  }

  .lets-connect {
    height: 15;
  }

  .categories {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    width: 87%;
    height: fit-content;
    border-radius: 24px;
    margin: 25 20 20 50;
  }

  .categories-img {
    width: 540;
    height: 440;
  }

  .contact-page {
    background-image: url('./img/contact-bg.png');
    align-items: center;
  }

  .formsection {
    align-items: center;
    padding: 0;
  }

  .left-block {
    width: 45%;
    padding-right: 3%;
  }

  .about-myself {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10%;
    padding: 10%;
  }

  .about-myself > div {
    margin-right: 2%;
  }

  .contactme {
    padding-top: 6%;
  }

  #name,
  #mail,
  #msg {
    width: 447px;
    margin-bottom: 25px;
    padding: 14;
    border-radius: 2px;
  }

  .contact-page > p {
    padding-top: 2%;
    width: 569;
  }

  .about-myself > div > p {
    width: 447px;
  }

  .skills-list {
    width: 684px;
  }

  .skills-list > li {
    font-size: 20px;
  }

  .language-icons {
    flex-direction: row;
  }

  .language-icons > li {
    flex-direction: column;
    width: 122px;
    height: 120px;
  }
}
